.card-container {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    flex-direction: row;
}
.item-container {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    flex-direction: column;
}
.item {
    margin: 5px;
}
.card-title {
    font-weight: bold;
}

