<div class="content" role="main">

    <button (click)="back()">Back</button>
    <p *ngIf="errorMessage">{{errorMessage}}</p>
    <div class="card-container" *ngIf="!errorMessage">
        <div class="item-container">
            <img class="item" src="{{movie.Poster}}" alt="{{movie.Title}}">
        </div>
        <div class="item-container">
            <div class="item" tabindex="0">

                <h2>{{movie.Title}}</h2>

                <!-- <div><b>{{movie.Title}}</b></div> -->
                <p><span class="card-title">Year:</span>{{movie.Year}}</p>
                <p><span class="card-title">Type:</span>{{movie.Type}}</p>
                <p><span class="card-title">Imdb ID:</span>{{movie.imdbID}}</p>
                <p><span class="card-title">Rated: 		</span>{{movie.Rated}}</p>
                <p><span class="card-title">Released: 	</span>{{movie.Released}}</p>
                <p><span class="card-title">Runtime: 	</span>{{movie.Runtime}}</p>
                <p><span class="card-title">Genre: 		</span>{{movie.Genre}}</p>
                <p><span class="card-title">Director: 	</span>{{movie.Director }}</p>
                <p><span class="card-title">Writer: 	</span>{{movie.Writer }}</p>
                <p><span class="card-title">Actors: 	</span>{{movie.Actors}}</p>
                <p><span class="card-title">Plot: 		</span>{{movie.Plot }}</p>
                <p><span class="card-title">Language: 	</span>{{movie.Language	}}</p>
                <p><span class="card-title">Country: 	</span>{{movie.Country}}</p>
                <p><span class="card-title">Awards: 	</span>{{movie.Awards}}</p>
                <p><span class="card-title">Metascore: 	</span>{{movie.Metascore}}</p>
                <p><span class="card-title">imdbRating:	</span>{{movie.imdbRating}}</p>
                <p><span class="card-title">imdbVotes: 	</span>{{movie.imdbVotes}}</p>
                <p><span class="card-title">imdbID: 	</span>{{movie.imdbID}}</p>
                <p><span class="card-title">Type:		</span>{{movie.Type}}</p>
                <p><span class="card-title">DVD: 		</span>{{movie.DVD}}</p>
                <p><span class="card-title">BoxOffice	</span>{{movie.BoxOffice}}</p>
                <p><span class="card-title">Production:	</span>{{movie.Production}}</p>
                <p><span class="card-title">Website: 	</span>{{movie.Website}}</p>

                <p><span class="card-title">Ratings:</span></p>
                <ul>
                    <li *ngFor="let rating of movie.Ratings"><span class="card-title">{{rating.Source}}:</span> {{rating.Value}}</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer>

    </footer>

</div>