 <div class="content" role="main">

    <div class="search-items">
        <div class="search-name">
        <input class="search-name" type="text" #searchBox [(ngModel)]="searchName" placeholder="Search for an item" (input)="onSearchName(searchBox.value)">
    </div>
        <select class="search-plot" [ngModel]="searchPlot" (ngModelChange)="onSearchCategory($event)">
            <option value="">Select Plot</option>
            <option [ngValue]="plot.name" *ngFor="let plot of plots">{{plot.name}}</option>
        </select>
    </div>

      <p *ngIf="errorMessage$">{{errorMessage$ | async}}</p>
      <div class="card-container" *ngIf="!(errorMessage$ | async)">
            <div class="item" tabindex="0" *ngFor="let movie of movies$ | async" (click)="onViewDetails(movie.imdbID)">
                <img class="item" src="{{movie.Poster}}" alt="{{movie.Title}}">
                <h2>{{movie.Title}}</h2>

                <!-- <div><b>{{movie.Title}}</b></div> -->
                <p><span class="card-title">Year:</span>{{movie.Year}}</p>
                <p><span class="card-title">Type:</span>{{movie.Type}}</p>
                <p><span class="card-title">Imdb ID:</span>{{movie.imdbID}}</p>
             </div>
          </div>
   
      <!-- Footer -->
      <footer>
        
      </footer>

      </div>