.search-items {
    display: flex;
    align-self: stretch;
}

.search-name {
    flex: 1;
}


dl {
    height: 200px;
}

.card {

}

.card-container {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}
.item {
    margin: 5px;
}
.card-title {
    font-weight: bold;
}

img {
    cursor: pointer;
}