<div class="toolbar" role="banner" [ngClass]="[darkMode ? 'dark-mode' : 'light-mode']" >
  <div class="spacer"></div>
  <span (click)="changeMode()">{{darkMode ? 'Dark mode' : 'Light mode'}}</span>
</div>
  


<router-outlet></router-outlet>
